* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(82, 186, 108);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(241, 175, 89);
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    height: 200px;
    width: 200px;
    background-color: crimson;
}
h1{
  font-size: 60px;
  position: relative;
  background-color: red;
  padding: 10px;
}
h2{
  font-size: 60px;
  position: relative;
  background-color: yellow;
  padding: 10px;
}