* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}
#page1{
    width: 100%;
    height: 100%;
    background-color: rgb(112, 219, 255);
}
#page2{
    width: 100%;
    height: 100%;
    background-color: rgb(211, 255, 98);
}
#page3{
    width: 100%;
    height: 100%;
    background-color: rgb(223, 96, 255);
}
#page2 h1{
    font-size: 35vw;
    text-transform: uppercase;
}
body{
    overflow-x: hidden;
}