@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}
section {
    height: 100%;
    width: 100%;
    position: relative;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px;
}
.part2 {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 50px;
}
nav h1 {
    display: flex;
    font-size: 25px;
}
nav h4 {
    font-size: 15px;
    font-weight: 500;
}
nav button {
    padding: 12px 18px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid black;
}
nav h1 i {
    font-size: 25px;
    rotate: 45deg;
    display: inline-block;
}
.center {
    height: 70%;
    width: 100%;
    padding: 50px;
    display: flex;
}
.center-part1 {
    height: 100%;
    width: 40%; 
}
.center-part2 {
    height: 100%;
    width: 60%; 
    position: relative;
}
.center-part1 h1{
    font-size: 48px;
    line-height: 1;
}
.center-part1 p {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.center-part1 button {
    background-color: #111;
    color: #fff;
    border-radius: 10px;
    padding: 18px 32px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
.center-part2 img {
    height: 90%;
    position: absolute;
    right: 0;
}
.section1bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.section1bottom img {
    height: 50px;
}
.section2 .services {
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 40px;
}
.services h3 {
    background-color: #9AE975;
    font-weight: 500;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 22px;
    

}

.services p {
    width: 50%;
    font-size: 14px;
    font-weight: 500;
}
.container {
    height: 60%;
    width: 100%;
    padding: 20px 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 75px;
}
.elem {
    height: 300px;
    width: 47%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 1px 12px 0 rgb(62, 62, 62);
    padding: 50px;
    display: flex;
}

.elem-part1 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.elem-part2 {
    height: 100%;
    width: 50%;
}

.elem-part2 img {
    height: 100%;
}

.elem-part1 h2 {
    font-size: 24px;
    font-weight: 500;
    width: 80%;
    background-color: #9AE975;
    border-radius: 10px;
    padding: 0 5px;
}

.elem-part1 h4 {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
}
.elem-part1 h4 i {
    padding: 5px;
    background-color: #111;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: 900;
}
.black {
    background-color: #111;
    color: #fff;
}
.black .elem-part1 h2 {
    background-color: #fff;
    color: #111;
}
.black .elem-part1 h4 i {
    background-color: #fff;
    color: #111;
}