*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}
#part2 {
    display: flex;
    gap: 50px;
}
#box {
    height: 200px;
    width: 200px;
    background-color: royalblue;
}
#box1 {
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 0);
}#box2 {
    height: 200px;
    width: 200px;
    background-color: rgb(0, 149, 12);
}#box3 {
    height: 200px;
    width: 200px;
    background-color: crimson;
}
h3{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: large;
    transform: translate(50%,50%);
}